.fondo{
    text-align: center;
    background-image: url("negro.jpg")

}
.contenido{
    color:white;
}
a{
    color: white;   
    text-decoration:none;
}
ul{
    text-decoration: none;
}
h1{
    color: white;
}

hr{
    height: 7px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: purple;

}

