div{
    color:white;
   font-family: inherit;
   font-style: normal;
   font-size: 20px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
}
hr{
    height: 7px;
      margin-left: 1%;
      margin-right: 75%;
      background-color: purple;
    
    }
.fondo{
    background-image:url("negro2.jpg")
}
li{
    border-left: 5px solid indigo;
}
.imagen{
    margin-left: 0%;
    width: 20px;
    height: 15px;
}
img{
    float:right;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
a{
    color:white;
   
    text-decoration: none;
}
ul{
    list-style-type: none;
}
a:hover {
    color: red;
}
