div{
    color:white;
   font-family: inherit;
   font-style: normal;
   font-size: 20px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
}
.imagen{
float:right;
height: 250px;
margin-right: 20px;
margin-bottom: 15px;
width: 200px;
border-width: 1px;
border-style: solid;
border-color: black;
}
li{
    border-left: 5px solid indigo;
}
hr{
height: 7px;
  margin-left: 1%;
  margin-right: 75%;
  background-color: purple;

}
.fondo{
    background-image: url("negro2.jpg");
}
a{
    color:white;
   
    text-decoration: none;
}
ul{
    list-style-type: none;
}
a:hover {
    color: red;
}